body {
  background-color: aliceblue;
}
div {
  border: black solid 1px;
}
h1,
h2,
h3,
h4 {
  font-family: "Francois One", sans-serif;
}
p {
  font-family: "Lusitana", serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* .container {
  display: grid;
  grid-template-columns: 10% 20% 50% 20% 10%;
  grid-template-rows: 50% 25% 25%;
} */

.main-title {
  position: relative;
  padding: 0.1rem 3rem 0.1rem 4rem;
  left: 10%;
  width: 40rem;
  text-align: right;
  text-transform: uppercase;
  background-color: #f3ce00;
  z-index: 2;
  margin-top: 3rem;
}
/* .main-img {
  position: relative;
  margin-top: -3rem;
} */
.title-img {
  width: 50%;
  float: left;
}
.main-text {
  position: relative;
  margin-top: 6rem;
  font-size: 1.2rem;
  padding: 0 7.5rem 0 46rem;
}
.main-text p.title {
  font-weight: bold;
}
.social-links {
  position: absolute;
  top: 40%;
  right: 0;
  background-color: black;
  width: 40px;
  height: 150px;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;
}
.social-icon {
  height: 35px;
  padding-bottom: 1rem;
}
.btn {
  background-color: #f3ce00;
}
