/* 
=====
Variables
=====
*/

:root {
  --heading-font: "Francois One", sans-serif;
  --paragraph-font: "Lusitana", serif;
  --yellow: #f3ce00;
}

/* 
=====
Reset defaults
=====
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
=====
Global styles default for small screen
=====
*/

body {
  background: white;
  color: black;
  font-family: var(--paragraph-font);
  font-size: 1rem;
  line-height: 1.35;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
p {
  margin-bottom: 1.25rem;
}
strong {
  font-weight: 700;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

/* 
=====
Header
=====
*/

.header {
  background: #f3ce00;
  font-family: var(--heading-font);
  padding: 1% 2% 1% 29%;
  text-transform: uppercase;
  text-align: right;
}

.content-top {
  position: relative;
  width: 100%;
}
.content-top-image-wrapper {
  max-height: 30vh;
  overflow: hidden;
}
.post {
  padding: 2% 9% 0 1%;
}
.post-author {
  font-family: "Lusitana", serif;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
/* .content-middle-image-wrapper {
  margin-top: 5%;
  margin-left: 10%;
  text-align: right;
  position: relative;
  right: 0%;
} */

/* .quote {
  display: inline-block;
  font-family: "Francois One", sans-serif;
  color: white;
  background-color: black;
  position: relative;
  text-align: right;
  top: -4.5rem;
  margin-left: 6%;
  padding: 0.4% 2% 0.4% 22%;
  font-size: 1.2rem;
} */

.social-links {
  padding: 0.8% 0.2%;
  position: fixed;
  width: 50px;
  top: 50%;
  right: 0%;
  background-color: black;
}
.social-icon {
  width: 35px;
  padding: 15%;
}

.author-image-wrapper {
  width: 20%;
}

/* 
===
Styles for bigger screens
===
 */

@media screen and (min-width: 960px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  body {
    font-size: 1.15rem;
    line-height: 1.5;
  }
  .header {
    display: inline-block;
    position: relative;
    top: 3rem;
    left: 10%;
    padding: 0.5% 2% 0.5% 29%;
    z-index: 2;
  }
  .content-top {
    position: relative;
    width: 100%;
  }
  .content-top-image-wrapper {
    /* position: absolute; */
    /* top: -1%; */
    max-height: 100%;
    float: left;
    width: 50%;
    /* clear: both; */
  }
  .post {
    position: absolute;
    padding: 8% 6% 0 1%;
    width: 50%;
    left: 50%;
  }
}
